<section id="features" class="relative bg-custom-slate py-12">
  <div class="container mx-auto px-4 flex justify-start items-center h-full relative z-10">
    <h1 class="h1-noto-sans mb-4">Evolver<span class="text-blue-800">AI</span>: Redefining Excellence</h1>
  </div>
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
      <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex flex-col items-center">
        <span class="material-icons text-blue-600 text-4xl mb-4">check_circle</span>
        <h3 class="font-semibold mb-2">Practical AI Applications</h3>
        <p class="text-center">
          Delivering practical AI applications that create immediate value.
        </p>
      </div>
      <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex flex-col items-center">
        <span class="material-icons text-blue-600 text-4xl mb-4">handshake</span>
        <h3 class="font-semibold mb-2">Client Collaboration</h3>
        <p class="text-center">
          Collaborating closely with our clients to understand their challenges and goals.
        </p>
      </div>
      <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex flex-col items-center">
        <span class="material-icons text-blue-600 text-4xl mb-4">lightbulb</span>
        <h3 class="font-semibold mb-2">Forward-Thinking Technology</h3>
        <p class="text-center">
          Maintaining a forward-thinking approach to technology and innovation.
        </p>
      </div>
    </div>
  </div>
</section>