<section id="company" class="relative bg-custom-slate py-12 bg-center bg-cover" style="min-height: 600px;">
  <div class="container mx-auto px-4 flex justify-end items-center h-full relative z-10">
    <div class="p-8 rounded-lg text-justify max-w-lg">
      <p class="p-noto-sans top-bottom-margins md:text-lg">
        <i class="material-icons text-yellow-300 mr-2">lightbulb</i>
        We believe in a world where Artificial Intelligence simplifies complexity and drives sustainable success for businesses. Our mission is to
        make cutting-edge AI accessible and impactful for companies of all sizes.
      </p>
    </div>
  </div>
  <div class="w-full text-center py-8">
    <h1 class="font-bold text-white text-[20vw] leading-none w-full text-center">
      <span class="inline-block">Evolver</span><span class="text-blue-800 inline-block">AI</span>
    </h1>
  </div>
</section>