<section id="product_wfm" class="relative bg-custom-slate py-12">
  <div class="container mx-auto px-4 flex justify-start items-center h-full relative z-10">
    <h1 class="h1-noto-sans mb-4">Our Software Solutions</h1>
  </div>
  <div class="absolute inset-0 bg-black bg-opacity-10"></div>
  <div class="container mx-auto px-4 flex flex-col md:flex-row justify-start items-center h-full relative z-10">
    <div class="w-full md:w-1/2 mb-4 md:mb-0">
      <img src="img/evolverai-web-wfm-bg.jpg" alt="Workforce Manager" class="rounded-lg shadow-lg">
    </div>
    <div class="w-full md:w-1/2 p-6 rounded-lg text-left flex flex-col justify-start">
      <h2 class="h2-noto-sans mb-4">
        Workforce Manager
      </h2>
      <p class="p-noto-sans md:text-lg">
        Workforce Manager is an advanced tool designed to streamline shift
        planning and workforce management. Harness the power of AI and an
        automated chatbot for efficient communication, scheduling, and
        productivity enhancements.
      </p>
      <button onclick="window.location.href='more_wfm.html';"
        class="bg-blue-600 text-white py-2 px-4 rounded-lg text-lg shadow-lg hover:bg-blue-700 transition duration-300 mt-4">
        Tell me more
      </button>
    </div>
  </div>
</section>