<section id="services" class="relative bg-custom-slate py-12">
  <div class="container mx-auto px-4 flex justify-start items-center h-full relative z-10">
    <h1 class="h1-noto-sans mb-4">What we do</h1>
  </div>
  <div class="container mx-auto px-4 py-8">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
        <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex flex-col items-center">
          <span class="material-icons text-blue-600 text-4xl mb-4">check_circle</span>
          <h3 class="font-semibold mb-2">Customized AI Solutions</h3>
          <p class="text-center">
            Tailored systems that meet your unique business needs.
          </p>
        </div>
        <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex flex-col items-center">
          <span class="material-icons text-blue-600 text-4xl mb-4">insights</span>
          <h3 class="font-semibold mb-2">Data-Driven Insights</h3>
          <p class="text-center">
            Advanced analytics to transform your data into actionable strategies.
          </p>
        </div>
        <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex flex-col items-center">
          <span class="material-symbols-outlined text-blue-600 text-4xl mb-4">speed</span>
          <h3 class="font-semibold mb-2">Intelligent Automation</h3>
          <p class="text-center">
            Streamlined, scalable workflows that grow with your business and reduce operational costs.
          </p>
        </div>
        <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex flex-col items-center">
          <span class="material-icons text-blue-600 text-4xl mb-4">business</span>
          <h3 class="font-semibold mb-2">B2B Outsourcing</h3>
          <p class="text-center">
            Comprehensive services that let you focus on core competencies while we handle specialized processes.
          </p>
          <a href="#b2b_outsourcing" class="mt-3 px-4 py-1.5 bg-blue-600 text-white rounded-full hover:bg-blue-700 transition-colors duration-300 text-sm font-medium inline-flex items-center">
            Discover More <span class="material-icons ml-1 text-xs">arrow_forward</span>
          </a>
        </div>
      </div>
  </div>
</section>