<header class="bg-gradient-to-r from-slate-900 to-slate-950 text-white py-4 mb-8 sticky top-0 z-50">
  <div class="container mx-auto px-4 flex justify-between items-center">
  <h1 class="text-2xl font-bold">Evolver<span class="text-blue-800">AI</span></h1>
  <button id="menu-button" class="md:hidden focus:outline-none">
    <i class="material-icons md-24">menu</i>
  </button>
  <nav id="menu" class="hidden md:flex space-x-4">
    <a href="#company" class="text-white px-2 py-1 hover:underline flex items-center" onclick="scrollToSection(event, 'company')">
      <i class="material-icons mr-2">business</i> Company
    </a>
    <a href="#b2b_outsourcing" class="text-white px-2 py-1 hover:underline flex items-center" onclick="scrollToSection(event, 'b2b_outsourcing')">
      <i class="material-icons mr-2">handshake</i> B2B 
    </a>
    <a href="#product" class="text-white px-2 py-1 hover:underline flex items-center" onclick="scrollToSection(event, 'product')">
      <i class="material-icons mr-2">settings</i> Products
    </a>
    <a href="#" class="text-white px-2 py-1 hover:underline flex items-center" onclick="scrollToSection(event, 'clients')">
      <i class="material-icons mr-2">lock</i> Clients
    </a>
    <a href="#contact" class="text-white px-2 py-1 hover:underline flex items-center" onclick="scrollToSection(event, 'contact')">
      <i class="material-icons mr-2">headset_mic</i> Contact
    </a>
  </nav>
  </div>
</header>