@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --custom-slate: #0f172a;
    }
}

@layer components {
    .bg-custom-slate {
        background-color: var(--custom-slate);
    }
}

@layer utilities {
    .font-roboto {
        font-family: 'Roboto', sans-serif;
    }

    .font-noto-sans {
        font-family: 'Noto Sans', sans-serif;
    }

    .h2-noto-sans {
        font-family: 'Noto Sans', sans-serif;
        font-size: 30px;
        font-weight: 400;
        border-bottom: 2px solid green;
    }

    .p-noto-sans {
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
        font-weight: 300;
    }

    .h3-noto-sans {
        font-family: 'Noto Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    .h1-noto-sans {
        font-family: 'Noto Sans', sans-serif;
        font-size: 40px;
        font-weight: 400;
    }

    @media (min-width: 768px) {
        .h1-noto-sans {
            font-size: 80px;
            font-weight: 700;
        }
    }

    .top-bottom-margins {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        border-top: 2px solid green;
        border-bottom: 2px solid green;
    }
}